<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <div id="content">
        {{ block "main" . }}{{ end }}
        </div>
        {{ partial "footer.html" . }}

        <!-- Add javascript to zettel. -->
        {{ $zetteljs := resources.Get "js/zettel.js" }}
        <script src="{{$zetteljs.Permalink}}" type="text/javascript"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </body>
</html>
