{{ define "main" }}
    <div style="margin-top: 55px;" />
    <div class="zettel-grid" >
        {{ range.Pages }}
            <div class="zettel" >
                <h2>{{ .Title }}</h2>
                    <p>
                        <small>{{ .Date.Format "02.01.2006" }}</small>
                    </p>
                    <div class="zettel-summary">
                        {{ .Summary }}
                        <a class="readmore" href = "{{ .RelPermalink }}"  title = "{{ .Title }}"> More...</a>
                    </div>
            </div>
        {{end}}
    </div>
{{ end }}
