html,
body {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
  background: #fafafc;
  line-height: 1.2;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  color: rgb(0, 0, 0);
  font-size: 1.1em;
}

h5 {
  color: rgb(0, 0, 0);
}

p {
  color: rgb(102, 102, 102);
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #dadada;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header > .logo {
  color: rgb(102, 102, 102);
  cursor: pointer;
  flex: 0 0 10%;
}

.header > .logo:hover {
  color: black;
}

.header .search-bar {
  flex: 0 1 20%;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.search-bar .search-results {
  position: absolute;
  width: 100%;
  max-height: 600px;
  background-color: #ffffff;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  box-sizing: border-box;
  overflow-y: auto;
}

.search-results > .search-result {
  width: 100%;
  cursor: pointer;
  padding: 5px;
  /* Text only one line and cut off with ... */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}


.search-results:empty {
  display: none;
}

.search-results > .search-result:hover {
  background-color: #dadada;
}
  
.header input {
  /* Search Icon  */
  background-image: url("data:image/svg+xml;utf8, \
                    <svg xmlns='http://www.w3.org/2000/svg'version='1.1' height='50px' width='120px'>\
                         <text x='0' y='12' font-size='12'>🔍</text>\
                    </svg>");
  background-position: 5px 3px;
  background-repeat: no-repeat;
  padding-left: 25px;

  /* Styling */
  border: 1px solid #dadada;
  width: 100%;
  box-sizing: border-box;
}

.zettel-overview-grid {
    margin-top: 60px;
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:  row;
    flex-wrap:  wrap;
    justify-content: space-around;
}   


.zettel-grid {
    margin-top: 60px;
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:  row;
    flex-wrap:  wrap;
    justify-content: space-between;
    
}


.zettel {
    /* To make space for the header element. */
    white-space: normal;
    background: #ffffff;
    padding: 20px;

    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-bottom: 10px;

    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:  column;

    box-sizing: border-box;
    position: relative;
}

.zettel-grid > .zettel {
    flex: 1 1 auto;
    margin-left: 10px;
}

.zettel-overview-grid > .zettel {
    max-width: 33%;
    flex: 1 1 auto;
}

.index-zettel {
  /* To make space for the header element. */
  white-space: normal;
  background: #ffffff;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  margin: auto;
}

.navigation-buttons {
  text-align: center;
  color: #888;
  position: absolute;
  right: 1%;
  top: 1%;
  cursor: pointer;
}

/* Display close button only if there are multiple zettels. */
.zettel[data-original-zettel='true'] .close {
  display: none;
}


/* HACK: Only used in the previews.*/
/* I added this so that I can access the hugo summary and I only need to fetch the page once.*/
.zettel .zettel-summary[data-invisible='true'] {
    display: none;
}

.open-in-emacs > span {
  display: none;
}

.open-in-emacs:hover > span {
  display: inherit;
}

.zettel .zettel-body {
  flex: 1 0 300px;
  justify-content: start;
}

.zettel .backlinks-container {
    background: #fafafa; 
    padding: 8px;
    /* Take all the space left by zettel-body */
    flex: 0 0;
}

.backlink {
    padding-left: 8px;
    /* Text only one line and cut off with ... */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}

.backlinks-heading {
    font-size: 17px;
    color: #888;
    border-bottom: 1px dotted black;
    margin: 0;
    padding: 8px 8px 8px 0;
}

.backlink-container {
  /* Relative position required as anchor for tool-tip. */
    position: relative;
}

.backlink-container:hover .backlink-tooltip {
  /* Make the tool-tip visible when hovering over the list item. */
  visibility: visible;
}


.backlink-tooltip {
  padding: 10px;
  max-height: 100px;
  max-width: 300px;
  background-color: #ffffff;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  bottom: 100%;
  left: 10%;
  position: absolute;

  z-index: 0;
  visibility: hidden;
}

.backlink-tooltip p {
  margin-top: 0;
}

