<div class="page" data-uuid="{{ .File.UniqueID }}" data-level="1">
    <h1>{{ .Title }}</h1>

    <p>
        <small>{{ .Date.Format "02.01.2006" }}</small>
    </p>

    {{ .Content }}

    <!-- Tags -->
    {{ if isset .Params "tags" }}
        {{ $baseURL := .Site.BaseURL }}
        <ul class="tags">
            {{ range .Params.tags }}
            <li> <a href="{{ $baseURL }}tags/{{ . | urlize }}/">#{{ . }}</a> </li>
            {{ end }}
        </ul>
    {{ end }}


    <div class="backlinks-container">
        <h3 class="backlinks-heading">Links to this note</h3>
        <div class="backlinks">
        <!-- Define re as this files filename without the .md -->
        {{ $re := printf "relref \"%s\"" .File.BaseFileName }}
        {{ range .Site.AllPages }}
            <!-- findRE list of strings that match regular expression -->
            {{ if findRE $re .RawContent }}
                <a  href={{ .RelPermalink }} class="backlink-hover" id="{{ now.UnixNano }}">
                    <div class="backlink">
                        <h4> {{ .Title }} </h4>
                        <p> {{ .Summary }} </p>
                    </div>
                </a>
            {{ end }}
        {{ end }}
        </div>
    </div>
</div>
{{ $pagejs := resources.Get "js/page.js" }}
<script src="{{$pagejs.Permalink}}" type="text/javascript"></script>
