<div class="zettel-grid">
    <div class="zettel" data-uuid="{{ .File.UniqueID }}">
        <div class="navigation-buttons">
            <span class="close" onclick="removeZettel(event)">✕</span>
        </div>
        <div class="zettel-body">
            <h1>{{ .Title }}</h1>

            <p>
                <small>{{ .Date.Format "02.01.2006" }}</small>
            </p>

            <div class="zettel-summary">
                {{ .Content }}
            </div>

            {{ .Content }}

            <!-- Tags -->
            {{ if isset .Params "tags" }}
                {{ $baseURL := .Site.BaseURL }}
                <ul class="tags">
                    {{ range .Params.tags }}
                    <li> <a href="{{ $baseURL }}tags/{{ . | urlize }}/">#{{ . }}</a> </li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>

        <div class="backlinks-container">
            <h3 class="backlinks-heading">Links to this note</h3>
            <ul>
            <!-- Define re as this files filename without the .md -->
            {{ $re := printf "relref \"%s\"" .File.BaseFileName }}
            {{ range .Site.AllPages }}
                <!-- findRE list of strings that match regular expression -->
                {{ if findRE $re .RawContent }}
                    <li class="backlink-container">
                        <a  href={{ .RelPermalink }} class="backlink">
                            {{ .Title }}
                        </a>
                    </li>
                {{ end }}
            {{ end }}
            </ul>
        </div>
    </div>
</div>


<!-- Add javascript to zettel. -->
{{ $zetteljs := resources.Get "js/zettel.js" }}
<script src="{{$zetteljs.Permalink}}" type="text/javascript"></script>
